{% extends 'layout.html' %}

{% block content %}

{% from 'import/topic.html' import normal_question %}

<script>
    $(function(){
        /*
        $('.tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
        */
    })
</script>

<section id="tag-news" class="span8">
<header class="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#latest" data-toggle="tab">最新</a>
        </li>
        <li>
            <a href="#my" data-toggle="tab">我的</a>
        </li>
    </ul>

    
</header>

<div class="tab-content">
    <div class="tab-pane active" id="latest">
        {% for q in questions %}
            {{ normal_question(q) }}
        <hr>
        {% endfor %}
    </div>
    
    <div class="tab-pane" id="my">
        {% for q in my_questions %}
            {{ normal_question(q) }}
        <hr>
        {% endfor %}
    </div>
</div>
</section>

<section class="span4">

<section class="user-info side-box thumbnail">
<header><h5>本大爷</h5></header>
<hr class="hr-small">
<img class="thumbnail" src="http://www.gravatar.com/avatar/{{ current_user.email_hash()}}?s=80" />
<h5 style="text-align:center">{{ current_user.nickname }}</h5>
</section>
<hr>

<section class="fav-tags side-box thumbnail">
<header><h5>珍藏的标签</h5></header>
<hr class="hr-small">
{% for tf in current_user.tag_follows %}
<a href="{{ url_for('tag.index', tag=tf.tag) }}"><span class="label label-info">{{ tf.tag }}</span></a>
{% endfor %}
</section>

</section>

{% endblock %}
