{% macro question() %}
    <section class="question thumbnail">
        <header>
            <a href=""><h4>各位童鞋，UMD马里兰大学帕克分校是个什么情况？和UIUC比呢？</h4></a>
            <p>
                来自：<span class="label label-warning">马里兰大学</span>
                转发：<span class="label label-warning">UIUC</span>&nbsp;<span class="label label-warning">经济学</span>
            </p>
        </header>

        <blockquote>
            <p>本科经济学，收了两个AD，UMD貌似地理位置不错，但网上那个学校的信息略少啊，求助！还有大家觉得UIUC好还是UMD好呢？谢谢谢啦！（^_^）        </p>
            <small>xys</small>
        </blockquote>
    </section>
 
{% endmacro %}

{% macro topic() %}
<section class="topic">
    <section class="question thumbnail">
        <header>
            <a href=""><h4>各位童鞋，UMD马里兰大学帕克分校是个什么情况？和UIUC比呢？</h4></a>
            <p>
                来自：<span class="label label-warning">马里兰大学</span>
                转发：<span class="label label-warning">UIUC</span>&nbsp;<span class="label label-warning">经济学</span>
            </p>
        </header>

        <blockquote>
            <p>本科经济学，收了两个AD，UMD貌似地理位置不错，但网上那个学校的信息略少啊，求助！还有大家觉得UIUC好还是UMD好呢？谢谢谢啦！（^_^）        </p>
            <small>xys</small>
        </blockquote>
    </section>
    
    <section class="comment thumbnail">
        <header>共2条评论</header>
        <hr>
        
        <blockquote>
            <p>还是马里兰好一点吧 地址位置比较重要</p>
            <small>陈超平</small>
        </blockquote>
        
        <blockquote>
            <p>同意~</p>
            <small>李白</small>
        </blockquote>
        
        <hr>
        <footer>
            <input type="text" value="登录后可添加你的评论" disabled="disabled" style="width:98%"/>
        </footer>
    </section>
</section>
{% endmacro %}
