{% extends 'layout.html' %}

{% block content %}

<form class="well span8 offset2" action="{{ url_for('question.new') }}" method='post'>
    {% from 'import/tools.html' import flashed_msg,error %}

    <h3 class="alert alert-info">提问</h3>

    {{ form.hidden_tag() }}
    {{ form.csrf }}

    {{ form.title.label }}
    {{ form.title() }}
    {{ error(form.errors['title']) }}
    <span class="help-block">问题的主题</span>

    {{ form.content.label }}
    {{ form.content(rows=5,cols=5) }}
    {{ error(form.errors['content']) }}
    <span class="help-block">问题的详细内容</span>

    {{ form.tags.label }}
    {{ form.tags(id='tag-search') }}
    {{ error(form.errors['tags']) }}

    <script>
        $(function(){
            var t = new $.TextboxList('#tag-search', {unique: true, plugins: {autocomplete: {placeholder:'搜索:标签'}}});
            t.getContainer().addClass('textboxlist-loading');  
            $.getJSON("{{ url_for('tag.obj') }}", function(data){
                tips = new Array()
                $.each(data.tags,function(i,t){
                    tips.push(new Array(t.tag, t.tag, null, '<img src="/static/'+t.photo+'" />'+t.tag));
                });
                
                t.plugins['autocomplete'].setValues(tips);
                t.getContainer().removeClass('textboxlist-loading');
            }); 
        })
    </script>
    
    <hr>
    <input class="btn btn-primary" type="submit" value="发布"/>
</form>
{% endblock %}
