
/**functions**/
.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.title (@size) {
  font-weight: bold;
  font-size: @size;
}

.text (@size) {
  font-size: @size;
}


/*quick style*/
.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

.hr-small {
    margin: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #171717;
    border-bottom: 1px solid white;
    }

.hr-large {
    margin: 0;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #171717;
    border-bottom: 1px solid white;
    }


/**custom**/
#article-header{
    .logo {
        a {
            color: #999;
            }     
    }
    .desc {
        padding-top:10px;
        text-align: center;
    }
}

#article-top {
    margin-top: 40px;
    }

#culture-wall {
    height: 300px;
    text-align: center;
    background: #171717 url("/static/img/flashBg.jpg");
    video {
        width: 800px;
        height: 300px;
        background: #171717;
        }
}

#article-content {
    margin-top: 60px;
    }

.topic p{
    font-size:13px;
}

.question {
    //background: #fef;
}

.question p{
    font-size:13px;
}

.comment p{
    font-size:13px;
}

.register-wrapper {
    padding: 0px 150px;
}


#search-row {
    padding: 10px 0px;
    text-align: center;
    form {
        margin: 0px;
        }
}
