{% extends 'layout(mainp).html' %}
{% block joinus %}



   <!--<style type="text/css">
 a{color:white;}
        body {background-image: url(/static/img/intro-picture/jrwm.jpg); background-attachment:fixed; background-repeat:no-repeat;background-position:center;}
  </style>-->
<style type="text/css">
          #email {
                font-family:"times new roman";
                 font-size:25px;
                   color:white;
                    position:absolute; top:33%;left:43%;}

	 body {background-image: url(/static/img/intro-picture/jrwm.jpg);padding:0px;background-attachment:fixed;background-repeat:no-repeat;background-position:center;}
            
           
</style>
            <body>
                
  
		<div id="email" ><a href="mailto:offerduoduo@sina.com?subject=comments" style="font-color:white">offerduoduo@sina.com</a>
		
   </div>
                
  

</body>

                <!--<a class="btn btn-info" href="/question/new" style="width:100px position:center">回上页</a>
                <hr class="soften"/> 
                <p style="color:grey" align="center">Copyright ©2012 offerduoduo.com. All rights reserved | 京ICP 证000000号| 文化部监督电子邮箱：wlwh@vip.sina.com </p>-->


   
		



{% endblock%}
