{% extends 'layout(main).html' %}
{% block protocal %}
    
<div class="container">
<div class="row">
<div class="span12">
	<h1  align="center">
		<strong>Offer多多协议</strong>
	</h1>
	
	<p>
		请仔细阅读，您只有无条件接受以下所有服务条款，才能继续申请：
	</p>
    <p>
     最后更新时间：2012年6月1日
    </p>
    <h2>
     服务
    </h2>
    <p>
     1.本站服务的所有权和运作权归本站所有。用户通过完成注册程序并在“我已经认真阅读并同意《Offer多多协议》”一栏前划勾表示用户与本站达成协议并接受所有的服务条款。
    </p>
    <p>
    2.本站会在必要时修改服务条款，本站服务条款一旦发生变动，Offer多多将会在用户进入下一步使用前的页面提示修改内容。如果您同意改动，则再一次激活“我同意”按钮。如果您不接受，请及时取消您的用户使用服务资格。
    </p>
    <p>
     3.本站保留随时修改或中断服务而不需通知用户的权利。本站不担保服务一定能满足用户的要求，也不担保服务不会受中断或是任何内容不会丢失。站方对服务的及时性、安全性、出错发生与否都不作保证性承诺。
    </p>
    <p>
	4.本站对于任何用户在本网站发布的任何形式信息都不作任何形式的担保；用户自身有辨别选择信息的义务并承担使用信息带来的任何形式后果，站方有责任及时处理被用户举报与投诉的信息（Offerduoduo.service@gmail.com)
    </p>

    <h2 id="toc_services">
      版权
    </h2>
    <p>
     1. 本站点内所有的文章版权归原文作者和本站共同所有，任何人需要转载站点内文章，必须征得原文作者或本站授权。
    </p>
    
    <h2 id="toc_account">
    隐私与安全
    </h2>
    <p>
     1.我们积极保护任何用户的隐私。本站恪守不公开、编辑或透露用户的注册资料及保存在本站各项服务中非公开内容的原则。在收到国家有关机关查询要求时，我们会按照要求提供用户在本站的网页上发布的信息内容及其发布时间、互联网地址或者域名。
    </p>
    <p>
    2.用户有责任保管好自己的帐号和密码并承担由于失责而带来的对于用户本身，站方，或是其他方的任何损失。
    </p>
    <h2 id="toc_protection">
      法律
    </h2>
    <p>
      1.本网注册用户发表的商业信息、网站信息、公司信息、产品信息、留言、评论、论坛话题等，不代表本网站的立场。本网站论坛的注册用户独立承担对发布内容负责的义务，用户的一切言论必须遵守国家法律法规：
    <p>
     （1）不得发布危害国家安全、损害国家机关信誉、泄露国家秘密、颠覆国家政权、破坏宪法和法律、行政法规的实施及破坏国家统一的信息；
    </p>
    <p>
     	（2）不得发布煽动民族仇恨、民族歧视，破坏民族团结的信息；
    </p>
   <p>
	（3）不得散布谣言，扰乱社会秩序，捏造或者歪曲事实，破坏社会稳定；
   </p>
  <p>
	（4）不得散布封建迷信、色情、赌博、暴力、恐怖或者教唆犯罪的内容；
   </p>
  <p>
	（5）不得侮辱诽谤他人、捏造事实、泄露别人隐私或对其进行恶意攻击；
  </p>
 <p>
	（6）不得发布侵害集体或他人合法权益的内容，
 </p>
<p>
	（7）违反以上条例而造成的一切后果由发布者本人独立承担。
</p>
<p>
	2.非中国境内用户应当严格遵守当地法律要求。
</p>
<p>
	3.用户需对自己在使用本站服务过程中的行为承担法律责任。用户应该注意到并且充分理解：如果本站发现用户发布或传输的信息违反上述所列内容，依据中国法律，本站有义务停止传输，保存记录，并向国家有关机关报告，同时删除含有该内容的地址，取消用户服务帐号。
</p>

    <h2 id="toc_content">
     账号解除
    </h2>
    <p> 1. 出现下述情况会导致站方强制停止用户账号服务：
   </p>
      <p>
	1).发布违反上述“法律”条目中第1, 2条之规定的信息
 </p>
 <p>
  	2).发布危害本站点发展，影响其他用户使用的信息，例如（恶意攻击，非授权广告等）
    </p>
    <h2 id="toc_software">
      极端情况免责
    </h2>
    <p>
     在黑客攻击、计算机病毒侵入或发作，政府管制，或由于自然不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等，本网站免责。
    </p>
    </div>
</div>
</div>
{% endblock%}
