{% extends 'layout.html' %}

{% block content %}
<script>
    $(function(){
        var options = {
            'placement' : 'right',
            'trigger' : 'focus'
        }
        $('#register-form input').tooltip(options)
    })
</script>

<form id="register-form" class="well form-horizontal span8 offset2" method="post">
    {% from 'import/tools.html' import error %}

    {{ form.hidden_tag() }}
    {{ form.csrf }}

    <h3 class="alert alert-info">欢迎注册</h3>

    <div class="control-group">
        {{ form.email.label(class="control-label") }}
        <div class="controls">
            {{ form.email(title="需要常用邮箱地址") }}
            {{ error(form.errors['email']) }}
        </div>
    </div>

    <div class="control-group">
        {{ form.nickname.label(class="control-label") }}
        <div class="controls">
            {{ form.nickname(title="2至20个字符，支持中英文，数字，_和-") }}
            {{ error(form.errors['nickname']) }}
        </div>
    </div>

    <div class="control-group">
        {{ form.passwd.label(class="control-label") }}
        <div class="controls">
            {{ form.passwd(title="5至20个字符，支持中英文，数字，_和-") }}
            {{ error(form.errors['passwd']) }}
        </div>
    </div>

    <div class="control-group">
        {{ form.confirm.label(class="control-label") }}
        <div class="controls">
            {{ form.confirm(title="请再次输入您的密码") }}
            {{ error(form.errors['confirm']) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <label class="checkbox">
                {{ form.agree }}
                我已经认真阅读并同意
                <a>《Offer多多协议》</a>
                {{ error(form.errors['agree']) }}
            </label>
        </div>
    </div>

    <hr>

    {#
    <div class="QapTcha"></div>
    #}
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="确认提交"/>
            <a href="{{ url_for('general.index') }}" class="btn">取消</a>
        </div>
    </div>
</form>


<!-- include CSS & JS files -->
<!-- CSS file -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='qaptcha/QapTcha.jquery.css') }}" media="screen" />
<!-- jQuery files -->
<script type="text/javascript" src="{{ url_for('static', filename='qaptcha/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='qaptcha/QapTcha.jquery.js') }}"></script>

{#
<script type="text/javascript">
    $(function(){
        // More complex call
        $('.QapTcha').QapTcha({
            disabledSubmit: true,
            autoSubmit : false,
            autoRevert : true
        });
    });
</script>
#}
{% endblock %}
