{% extends 'layout.html' %}

{% block content %}

<form class="well span8 offset2" action="{{ url_for('resource.new') }}" method='post' enctype="multipart/form-data">
    {% from 'import/tools.html' import flashed_msg,error %}

    <h3 class="alert alert-info">传资源</h3>

    {{ form.hidden_tag() }}
    {{ form.csrf }}

    {{ form.title.label }}
    {{ form.title() }}
    {{ error(form.errors['title']) }}
    <span class="help-block">资源的主题</span>

    <label>文件*</label>
    <input name="files" type="file" multiple>

    {{ form.desc.label }}
    {{ form.desc() }}
    {{ error(form.errors['desc']) }}
    <span class="help-block">资源的详细介绍</span>

    {{ form.tags.label }}
    {{ form.tags(id='tag-search') }}
    {{ error(form.errors['tags']) }}
    <script>
        $(function(){
            textbox({
                element: '#tag-search',
                placeholder: '搜索：标签',
                url: "{{ url_for('tag.obj') }}",
                format: tag_format
            });
        });
    </script>
    
    <hr>
    <input class="btn btn-primary" type="submit" value="上传"/>
</form>
{% endblock %}
