{% macro reminds() %}
<script>
    $(function(){
        function load_reminds(){
            $.getJSON("{{ url_for('remind.index') }}",function(data){
                if(data.reminds.length == 0) return;
            
                $('#reminds').empty();
                $.each(data.reminds,function(i,r){
                    if(r.comment){
                        title = '评论';
                        content = r.comment;
                    }else{
                        title = '答案';
                        content = r.answer;
                    }
                    row = '<li><a href="/remind/read?id='+r.id+'" style="color:#999">问题<span style="color:#7a43b6">'+r.question+'...</span>有了新的'+
                        title+'<span style="color:#7a43b6">'+content+'...</span></a></li>';
                    $('#reminds').append(row);
                })

                $('#reminds').parents('.dropdown').addClass('open');
            })
        }

        setInterval(load_reminds, 10000);
    })
</script>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ url_for('static', filename='img/alarm.png') }}">
        <b class="caret"></b>
    </a>
    
    <ul id="reminds" class="dropdown-menu">
        <li><a>暂无消息</a></li> 
    </ul>
</li>
{% endmacro %}
