{% macro normal_resource(r, current_user, content=False) %}
<section id="resource-{{ r.id }}" class="resource thumbnail">
        <header>
            <a href="{{ url_for('resource.index', id=r.id) }}"><h4>{{ r.title }}</h4></a>
            <p>
            来自：
            {% for tag in r.tags %}
                <a href="{{ url_for('tag.index', tag=tag.tag) }}"><span class="label label-warning">{{ tag.tag }}</span></a>
            {% endfor %}
            </p>
        </header>

        <footer>
            <span class="small">{{ r.create_time }}</span>
            <span class="small pull-right">下载量：{{ r.download_count }}</span>
        {% if content %}
            <hr class="hr-tiny">
            <ul class="span3">
                {% for f in r.file_list() %}
                <li class="small">{{ f }}</li>
                {% endfor %}
            </ul>
            <span class="divider-vertical"></span>
            <a class="btn btn-large download" data-url="{{ url_for('resource.download', id=r.id) }}" href="{{ url_for('static', filename='resources/%d.zip' % r.id) }}" class="btn btn-large">
                <h2>下载全部</h2>
                <span class="small">zip压缩包</span>
            </a>
            <script>
                $(function(){
                    $('.download').click(function(){
                        $.post($(this).attr('data-url'));
                        return false;
                    });
                });
            </script>
        {% endif %}
        </footer>
</section>

{% endmacro %}
