{% macro tag_info(tag, has_followed) %}
<script>
    $(function(){
        $('.follow').click(function(){
            tag = $(this).parents('.tag-info').find('.tag-tag').text()
            $.ajax({
                url:"{{ url_for('follow.follow') }}",
                type: 'POST',
                data: {'type':'tag', 'tag':tag},
                error: fail,
                success: success
            })
        });

        $('.unfollow').click(function(){
            tag = $(this).parents('.tag-info').find('.tag-tag').text()
            $.ajax({
                url:"{{ url_for('follow.unfollow') }}",
                type: 'POST',
                data: {'type':'tag', 'tag':tag},
                error: fail,
                success: success
            })
        });

        $('.editable').hover(function(){
            $('.edit', this).fadeIn('fast');
            },function(){
            $('.edit', this).fadeOut('fast');
        });

        $('.tag-edit-form').ajaxForm({
            complete: success
        });
    })
</script>

<section class="tag-info span12">
<div class="editable span1 offset0" style="position:relative">
    <img class="pull-left" src="{{ url_for('static', filename=tag.tag_photo(90)) }}" />
    <a id="tag-photo-edit" class="edit small" data-toggle="modal" href="#tag-photo-modal">修改</a>
</div>
<blockquote class="simple-quote span9">
    <h2 class="tag-tag">{{ tag.tag }}</h2>
    <small class="editable">
        <span>{{ tag.description }}</span>
        <a class="edit small" data-toggle="modal" href="#tag-desc-modal">修改</a>
    </small>
</blockquote>

<div id="tag-photo-modal" class="modal hide fade">
    <div class="modal-header">
        <h3>标签头像</h3>
    </div>
    <form class="tag-edit-form" action="{{ url_for('tag.photo', id=tag.id) }}" method="post" enctype='multipart/form-data'>
    <div class="modal-body">
            <input name="tag_photo" type="file" />
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="修改" />
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
    </form>
</div>

<div id="tag-desc-modal" class="modal hide fade">
    <div class="modal-header">
        <h3>标签描述</h3>
    </div>
    <form class="tag-edit-form" action="{{ url_for('tag.desc', id=tag.id) }}" method="post" enctype='multipart/form-data'>
    <div class="modal-body">
        <textarea name="desc">{{ tag.description }}</textarea>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="修改" />
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
    </form>
</div>



{% if has_followed %}
<a class="unfollow btn btn-danger pull-right">取消关注</a>
{% else %}
<a class="follow btn btn-info pull-right">关注</a>
{% endif %}
</section>

{% endmacro %}

{% macro tag_box(tag) %}
<section class="tag-box thumbnail">
<img src="{{ url_for('static', filename=tag.tag_photo(90)) }}" /> 
<hr class="hr-tiny">
<blockquote class="simple-quote">
    <a href="{{ url_for('tag.index', tag=tag.tag) }}"><h5>{{ tag.tag }}</h5></a>
    <small>
        {{ tag.description }}
    </small>
</blockquote>
</section>
{% endmacro %}
