{% macro tag_info(tag, has_followed) %}
<script>
    $(function(){
        $('.follow').click(function(){
            tag = $(this).parents('.tag-info').find('.tag-tag').text()
            $.ajax({
                url:"{{ url_for('follow.follow') }}",
                type: 'POST',
                data: {'type':'tag', 'tag':tag},
                error: function(request){alert("fail")},
                success: function(data){window.location.reload(true);}
            })
        })
        $('.unfollow').click(function(){
            tag = $(this).parents('.tag-info').find('.tag-tag').text()
            $.ajax({
                url:"{{ url_for('follow.unfollow') }}",
                type: 'POST',
                data: {'type':'tag', 'tag':tag},
                error: function(request){alert("fail")},
                success: function(data){window.location.reload(true);}
            })
        })
    })
</script>

<section class="tag-info span12">
    <img class="span1 offset0" src="{{ url_for('static', filename=tag.tag_photo(90)) }}" />
    <blockquote class="simple-quote span9">
        <h2 class="tag-tag">{{ tag.tag }}</h2>
        <small>
            {{ tag.description }}
        </small>
    </blockquote>
    
    {% if has_followed %}
        <a class="unfollow btn btn-danger pull-right">取消关注</a>
    {% else %}
        <a class="follow btn btn-info pull-right">关注</a>
    {% endif %}
</section>

{% endmacro %}

{% macro tag_box(tag) %}
    <section class="tag-box thumbnail">
        <img src="{{ url_for('static', filename=tag.tag_photo(90)) }}" /> 
        <hr class="hr-tiny">
        <blockquote class="simple-quote">
            <a href="{{ url_for('tag.index', tag=tag.tag) }}"><h5>{{ tag.tag }}</h5></a>
            <small>
                {{ tag.description }}
            </small>
        </blockquote>
    </section>
{% endmacro %}
