{% macro tag_info(tag, has_followed) %}
<script>
    $(function(){
        $('.follow').click(function(){
            tag = $(this).siblings('.tag-tag').text()
            $.ajax({
                url:"{{ url_for('follow.follow') }}",
                type: 'POST',
                data: {'type':'tag', 'tag':tag},
                error: function(request){alert("fail")},
                success: function(data){window.location.reload(true);}
            })
        })
        $('.unfollow').click(function(){
            tag = $(this).siblings('.tag-tag').text()
            $.ajax({
                url:"{{ url_for('follow.unfollow') }}",
                type: 'POST',
                data: {'type':'tag', 'tag':tag},
                error: function(request){alert("fail")},
                success: function(data){window.location.reload(true);}
            })
        })
    })
</script>

<section class="tag-info span12">
<span class="tag-tag">{{ tag }}</span>
{% if has_followed %}
    <a class="unfollow btn btn-danger pull-right">取消关注</a>
{% else %}
    <a class="follow btn btn-info pull-right">关注</a>
{% endif %}
</section>

{% endmacro %}
