{% macro flashed_msg() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert {{ 'alert-'+category }}">
            <a class="close" data-dismiss="alert">x</a>
            {{ message }}
        </div>    
    {% endfor %}
{% endwith %}

{% endmacro %}

{% macro error(msg, class='') %}
    {% if msg %} 
    <span class="{{ class }} help-inline label label-important">
        {{ msg[0] }}
    </span> 
    {% endif %}
{% endmacro %}

{% macro search() %}
<li>
    <script>
       $(function(){
            $.getJSON("{{ url_for('tag.all') }}", function(data){
                $('.navbar-search .tag-search').typeahead({source:data.tags});
            });

            $('.navbar-search').submit(function(){
                tag = $('input[name=tag]', this).val();
                if(tag) return true;
                return false;
            })
        })

    </script>
    <form class="navbar-search" action="{{ url_for('search.index') }}" method="get">
        <input class="tag-search search-query span2" name="tag" type="text" placeholder="搜索:标签" autocomplete="off">
    </form>
</li>
{% endmacro %}

{% macro account(current_user) %}
<li class="dropdown">
    <a href="{{ url_for('user.index', nickname=current_user.nickname)}}" class="dropdown-toggle" data-toggle="dropdown">
        [{{ current_user.nickname }}]
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('general.logout') }}">注销</a></li>
    </ul>
</li>
{% endmacro %}


{% macro reminds() %}
<script>
    $(function(){
        function load_reminds(){
            if($('#reminds .remind').length){
                dropdown = $('#reminds').parents('.dropdown');
                if(!dropdown.hasClass('open')) 
                    dropdown.addClass('open');
                return;
            }

            $.getJSON("{{ url_for('remind.index') }}",function(data){
                if(data.reminds.length == 0) return;
            
                $('#reminds').siblings('a').addClass('label label-info')
                $('#reminds').empty();
                $.each(data.reminds,function(i,r){
                    switch(r.type){
                    case 'answer':
                        title = '答案';
                        content = r.answer;
                        break;
                    case 'comment':
                        title = '评论';
                        content = r.comment;
                        break;
                    default:
                        return;
                    }
                    
                    row = '<li><a class="remind" href="/remind/read?id='
                            +r.id+'" style="color:#999">问题<span style="color:#7a43b6">'
                            +r.question+'...</span>有了新的'
                            +title+'<span style="color:#7a43b6">'
                            +content+'...</span></a></li>';
                    $('#reminds').append(row);
                })

                $('#reminds').parents('.dropdown').addClass('open');
            })
        }
        
        setInterval(load_reminds, 10000);
        setTimeout(load_reminds, 1000);
    })
</script>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        提醒
    </a>
    
    <ul id="reminds" class="dropdown-menu">
        <li><a>暂无消息</a></li> 
    </ul>
</li>
{% endmacro %}


{% macro nav(item, current_user) %}
<ul class="nav">
    <li class="{{ 'active' if item=='user' }}">
    <a href="{{ url_for('user.index', nickname=current_user.nickname) }}">主页</a> 
    </li>
    <li class="{{ 'active' if item=='question' }}">
    <a href="{{ url_for('question.list') }}">问题</a> 
    </li>
    {#
    <li class="{{ 'active' if item=='tag' }}">
    <a href="{{ url_for('tag.list') }}">标签</a> 
    </li>
    #}
</ul>
{% endmacro %}
