{% macro flashed_msg() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert {{ 'alert-'+category }}">
            <a class="close" data-dismiss="alert">x</a>
            {{ message }}
        </div>    
    {% endfor %}
{% endwith %}

{% endmacro %}

{% macro error(msg, class='') %}
    {% if msg %} 
    <span class="{{ class }} help-inline label label-important">
        {{ msg[0] }}
    </span> 
    {% endif %}
{% endmacro %}

{% macro search() %}
<li>
<script>
$(function(){
    textbox({
        element: '#tip-search',
        url: "{{ url_for('search.tips') }}",
        format: tip_format,
        placeholder:'搜索：标签，问题，资源',
        on_selected: function(value){
            location.href = value[0];
            return false;
        },
        on_new: function(value){
            if(!value[1]) return false;
            $('#tip-search').val(value[1]);
            $('#tip-search').parent('form').submit();
            return false;
        },
        post_result: classify,
    });

});

</script>
<form class="navbar-search" action="{{ url_for('search.index') }}" method="get">
    <input id="tip-search" class="span3" name="tag" type="text" />
</form>
</li>
{% endmacro %}

{% macro iwant() %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
        我要
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('question.new') }}">提问</a></li>
        <li><a href="{{ url_for('resource.new') }}">传资源</a></li>
    </ul>
</li>
{% endmacro %}

{% macro account(current_user) %}
<li class="dropdown">
    <a href="{{ url_for('user.home')}}" class="dropdown-toggle" data-toggle="dropdown">
        [{{ current_user.nickname }}]
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('user.profile') }}">个人信息</a></li>
        <li><a href="{{ url_for('general.logout') }}">注销</a></li>
    </ul>
</li>
{% endmacro %}


{% macro reminds() %}
<script>
    $(function(){
        function load_reminds(){
            if($('#reminds .remind').length){
                dropdown = $('#reminds').parents('.dropdown');
                if(!dropdown.hasClass('open')) 
                    dropdown.addClass('open');
                return;
            }

            $.getJSON("{{ url_for('remind.index') }}",function(data){
                if(data.reminds.length == 0) return;
            
                $('#reminds').siblings('a').addClass('label label-info')
                $('#reminds').empty();
                $.each(data.reminds,function(i,r){
                    switch(r.type){
                    case 'answer':
                        title = '答案';
                        content = r.answer;
                        break;
                    case 'comment':
                        title = '评论';
                        content = r.comment;
                        break;
                    default:
                        return;
                    }
                    
                    row = '<li><a class="remind" href="/remind/read?id='
                            +r.id+'" style="color:#999">问题<span style="color:#7a43b6">'
                            +r.question+'...</span>有了新的'
                            +title+'<span style="color:#7a43b6">'
                            +content+'...</span></a></li>';
                    $('#reminds').append(row);
                })

                $('#reminds').parents('.dropdown').addClass('open');
            })
        }
        
        setInterval(load_reminds, 10000);
        setTimeout(load_reminds, 1000);
    })
</script>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        提醒
    </a>
    
    <ul id="reminds" class="dropdown-menu">
        <li><a>暂无消息</a></li> 
    </ul>
</li>
{% endmacro %}


{% macro nav(item, current_user) %}
<ul class="nav">
    <li class="{{ 'active' if item=='user' }}">
    <a href="{{ url_for('user.home') }}">主页</a> 
    </li>
    <li class="{{ 'active' if item=='question' }}">
    <a href="{{ url_for('question.list') }}">问题</a> 
    </li>
    <li class="{{ 'active' if item=='resource' }}">
    <a href="{{ url_for('resource.list') }}">资源</a> 
    </li>
</ul>
{% endmacro %}
