{% macro normal_question(q, content=False, focus=False) %}
<section id="question-{{ q.id }}" class="question {{ 'focus' if focus }} thumbnail">
        <header>
        <a href="{{ url_for('question.index', id=q.id) }}"><h4>{{ q.title }}</h4></a>
            <p>
            来自：
            {% for tag in q.tags %}
                <a href="{{ url_for('tag.index', tag=tag.tag) }}"><span class="label label-warning">{{ tag.tag }}</span></a>
            {% endfor %}
            </p>
        </header>

        {% if content %}
            <blockquote>
                <p>{{ q.content }}</p>
                <small>
                    <a href="{{ url_for('user.index', nickname=q.user.nickname) }}">
                        <img src="http://www.gravatar.com/avatar/{{ q.user.email_hash()}}?s=20" />
                        {{ q.user.nickname }}
                    </a>
                </small>
            </blockquote>
        {% endif %}

        <footer>
        {% if focus %}
        &nbsp
        <span class="small pull-right">{{ q.create_time }}</span>
        {% else %}
        <span class="small">{{ q.create_time }}</span>
        <a class="pull-right" href="{{ url_for('question.index', id=q.id) }}">
            {{ q.answer_count }}个答案
        </a>
        {% endif %}
        </footer>
    </section>
{% endmacro %}

{% macro normal_comment(a, current_user) %}
    <section id="comments-{{ a.id }}" class="comments thumbnail">
        {% for c in a.comments %}
        <div id="comment-{{ c.id }}" class="comment clearfix">
            <img class="pull-left" src="http://www.gravatar.com/avatar/{{ c.user.email_hash() }}?s=20" />
            <div class="pull-left">
                <p>
                <a class="nickname" href="{{ url_for('user.index', nickname=c.user.nickname) }}">{{ c.user.nickname }}</a>
                ：{{ c.content }}
                </p>
                <p>
                    <small>{{ c.create_time }}</small>
                    <a class="reply" href="javascript:;">回复</a>
                </p>
            </div>
        </div>
        <hr>
        {% endfor %}
        
        <div class="clearfix">
            <img class="pull-left" src="http://www.gravatar.com/avatar/{{ current_user.email_hash() }}?s=20" />
            <form class="comment-form form-inline">
                <input name="answer_id" type="hidden" value="{{ a.id }}">
                <input name="comment_id" type="hidden" value="-1">
                <input name="content" type="text">
                <input class="btn btn-primary" type="submit" value="评论">
                <a class="cancel btn" href="javascript:;">取消</a>
            </form>
        </div>
    </section>
{% endmacro %}

{% macro normal_answer(a, current_user) %}
<section id="answer-{{ a.id }}" class="answer thumbnail">
        <div id="up-{{ a.id }}" class="up thumbnail">
            <span>{{ a.up }}</span>
            <button>顶</button>
        </div>
        <blockquote>
            <p>{{ a.content }}</p>
            <small>
                <a href="{{ url_for('user.index', nickname=a.user.nickname) }}">
                    <img src="http://www.gravatar.com/avatar/{{ a.user.email_hash()}}?s=20" />
                    {{ a.user.nickname }}
                </a> 
            </small>
        </blockquote>
        <footer>
                <a href="javascript:;" data-toggle="collapse" data-target="#comments-collapse-{{ a.id }}">
                    {{ a.comments|length }}条评论
                </a>
                <span class="pull-right small">{{ a.create_time }}</span>
            <div id="comments-collapse-{{ a.id }}" class="collapse" style="margin-top:5px;height: 0px;">
                {{ normal_comment(a, current_user) }}
            </div>
        </footer>
    </section>
{% endmacro %}

{% macro topic(q, current_user, answer_id, comment_id) %}
<section class="topic">
    {{ normal_question(q, True, True) }}

    <hr>
    
    <p>{{ q.answer_count }}个答案</p>
    <hr>
    {% for a in q.answers %}
        {{ normal_answer(a, current_user) }}
        <hr>
    {% endfor %}
    
    <form class="answer-form well" action="" method="post">
        <input name="question_id" type="hidden" value="{{ q.id }}"/>
        <textarea class="span6" name="content" rows="5"></textarea>
        <input class="btn btn-primary" type="submit" value="回答"/>
    </form>
</section>

<script>
    $(function(){
        function fail(request){
            alert('fail')
        }

        function success(data){
            if(data.errno=='FAIL'){
                alert('fail')
                return
            }
            window.location.reload(true)
        }        
        
        $(".topic .answer-form").submit(function(){
            question_id = $("input[name=question_id]", this).val() 
            if(!question_id){
                alert("问题ID不能为空")
                return false
            }
            content = $("textarea[name=content]", this).val()
            if(!content){
                alert("内容不能为空")
                return false
            }

            $.ajax({
                url:"{{ url_for('answer.new') }}",
                type: "POST",
                data: $(this).serialize(),
                error: fail,
                success: success
            })
            return false
        })

        $('.answer .up').click(function(){
            aid = $(this).attr('id').split('-')[1]
            $.ajax({
                url:"{{ url_for('answer.up') }}",
                type: "POST",
                data: {"answer_id":aid},
                error: fail,
                success: success
            })
        })

        $('.comment .reply').click(function(){
            comment = $(this).parents('.comment')
            cid = comment.attr('id').split('-')[1]
            nickname = comment.find('.nickname').text()
            form = comment.parent('.comments').find('.comment-form')
            $('input[name=comment_id]',form).val(cid)
            $('input[name=content]',form).focus().val('回复'+nickname+'：')
        })

        $('.comments .comment-form .cancel').click(function(){
            $(this).siblings('input[name=comment_id]').val(-1)
            $(this).siblings('input[name=content]').val('')
        })

        $('.comments .comment-form').submit(function(){
            answer_id = $("input[name=answer_id]", this).val() 
            if(!answer_id){
                alert("答案ID不能为空")
                return false
            }
            comment_id = $("input[name=comment_id]", this).val() 
            if(!comment_id){
                alert("评论ID不能为空")
                return false
            }
            content = $("input[name=content]", this).val()
            if(!content){
                alert("内容不能为空")
                return false
            }

            $.ajax({
                url:"{{ url_for('answer.comment') }}",
                type: "POST",
                data: $(this).serialize(),
                error: fail,
                success: success
            })
            return false
        })

    })

    function center(id){
        $('body').animate({scrollTop: $(id).offset().top}, 1000);
    }

    if({{ answer_id }} > 0){
        if({{ comment_id }} > 0){
            csid = "#comments-collapse-{{ answer_id }}" 
            $(csid).collapse('show')
            cid = "#comment-{{ comment_id }}";
            center(cid)
        }else{
            aid = "#answer-{{ answer_id }}";
            center(aid)
        }
    }
</script>
{% endmacro %}
