{% macro normal_question(q, content=True, footer=True, focus=False) %}
<section class="question {{ 'focus' if focus }} thumbnail">
        <header>
        <a href="{{ url_for('question.index', id=q.id) }}"><h4>{{ q.title }}</h4></a>
            <p>
            来自：
            {% for tag in q.tags %}
                <a href="{{ url_for('tag.index', tag=tag.tag) }}"><span class="label label-warning">{{ tag.tag }}</span></a>
            {% endfor %}
            </p>
        </header>
        {% if content %}
            <blockquote>
                <p>{{ q.content }}</p>
                <small>
                    <a href="{{ url_for('user.index', nickname=q.user.nickname) }}">
                        <img src="http://www.gravatar.com/avatar/{{ q.user.email_hash()}}?s=20" />
                        {{ q.user.nickname }}
                    </a>
                    <span class="pull-right">{{ q.create_time }}</span>
                </small>
            </blockquote>
        {% endif %}

            <footer>
            {% if footer %}
            <a href="{{ url_for('question.index', id=q.id) }}">{{ q.answers|length }}个答案</a>
            {% endif %}
            </footer>
    </section>
{% endmacro %}

{% macro normal_comment(c) %}
    <section id="demo" class="comment collapse in thumbnail" style="height: 0px;">
    `   <div class="row">
            <img class="thumbnail pull-left" src="http://www.gravatar.com/avatar/1?s=20" />
            <div class="pull-left">
                <p>
                    <a href="">xys</a>
                    ：shit
                </p>
                <p>
                    <small>2012-05-23</small>
                    <a class="reply" href="">回复</a>
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <img class="thumbnail pull-left" src="http://www.gravatar.com/avatar/1?s=20" />
            <form class="comm-form form-inline">
                <input name="comm" type="text">
                <input type="submit" value="评论">
            </form>
        </div>
    </section>
{% endmacro %}

{% macro normal_answer(a) %}
    <section class="answer thumbnail">
        <button class="label label-info" style="font-size:20px;padding:5px;position:absolute;right:-50px;">
            <div>顶</div>
        </button>
        <blockquote>
            <p>{{ a.content }}</p>
            <small>
                <a href="{{ url_for('user.index', nickname=a.user.nickname) }}">
                    <img src="http://www.gravatar.com/avatar/{{ a.user.email_hash()}}?s=20" />
                    {{ a.user.nickname }}
                </a> 
                <span class="pull-right">{{ a.create_time }}</span>
            </small>
        </blockquote>
        <footer>
            <p>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo">1条评论</a>
            </p>
            {{ normal_comment() }}
        </footer>
    </section>
{% endmacro %}

{% macro topic(q) %}
<script>
    $(function(){
        $(".collapse").collapse()
        
        $(".answer-form").submit(function(){
            question_id = $("input[name=question_id]", this).val() 
            if(!question_id){
                alert("问题ID不能为空")
                return false
            }
            content = $("textarea[name=content]", this).val()
            if(!content){
                alert("内容不能为空")
                return false
            }

            $.ajax({
                url:"{{ url_for('question.answer') }}",
                type: "POST",
                data: $(this).serialize(),
                error: function(request){alert("fail")},
                success: function(data){window.location.reload(true);}
            })
            return false
        })

    })
</script>
<section class="topic">
    {{ normal_question(q, True, False, True) }}

    <hr>
    
    <p>{{ q.answers|length }}个答案</p>
    <hr>
    {% for a in q.answers %}
        {{ normal_answer(a) }}
        <hr>
    {% endfor %}
    
    <form class="answer-form well" action="" method="post">
        <input name="question_id" type="hidden" value="{{ q.id }}"/>
        <textarea class="span6" name="content" rows="5"></textarea>
        <input class="btn btn-primary" type="submit" value="回答"/>
    </form>
</section>
{% endmacro %}
