{% macro user_info(user, class='') %}

<section class="user-info side-box thumbnail clearfix">
    <header class="border-small"><h5>本尊</h5></header>
    <div class="span1">
        <img src="{{ url_for('static', filename=user.photo(90)) }}" />
    </div>
    <blockquote class="simple-quote span2">
        <h3>{{ user.nickname }}</h3>
        <small>{{ user.title }}</small>
	<h5>{{ user.email}}</h5>
    </blockquote>
</section>

{% endmacro %}


{% macro home_nav(item, current_user) %}
<ul class="nav nav-pills">
    <li class="{{ 'active' if item=='followed' }}">
        <a href="{{ url_for('user.followed') }}">我关注的</a>
    </li>
    <li class="{{ 'active' if item=='my' }}">
        <a href="{{ url_for('user.my') }}">我参与的</a>
    </li>
    <li class="{{ 'active' if item=='around' }}">
        <a href="{{ url_for('user.around') }}">随便看看</a>
    </li>
</ul>
{% endmacro %}
